@model WebPrimalNumbers.Models.Primal
@{
    ViewBag.Title = "Z paczki";
}

<h2>Index</h2>
<div class="col-lg-8">
    @using( Html.BeginForm("Index", "Primal", null, FormMethod.Post,
        new{@class="form-inline"})){
            @Html.ValidationSummary(false)
            @Html.LabelFor(m=>m.Liczba) 
            @Html.TextBoxFor(m=>m.Liczba)
            <input type="submit" value="Generuj" class="btn btn-lg btn-default"/>
        }
</div>
@if (ViewBag.liczby != null)
{
    <div class="alert alert-success">
        @ViewBag.liczby
    </div>
    <div>
        @{ int licznik = 0; }
        <table id="t1">
            @for (int i = 0; i < ViewBag.rows; i++)
            {
                <tr>
                    @for (int j = 0; j < 20; j++)
                    {
                        licznik++;
                        string wyr = ViewBag.primary.Contains(licznik) ?
                            "primal" : "";
                        <td class="@wyr">@licznik</td>
                    }
                </tr>
            }
        </table>
    </div>
}

